.centered-block {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 85vh; /* 100% de la hauteur de la fenêtre */
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
.blockcountry{
    width: 85vw;
    height: 85vh;
    flex-shrink: 0;
    border-radius: 59px 59px 0px 0px;
    background: #1A1A1A;

}

.imgville {
    width: 100%;
    height: 55vh;
    object-fit: cover;

  }
  

  .Baner-profil {
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;

}

.masque01 {
    border-radius: 25px 25px 0px 0px;

    overflow: hidden; 
    
}

.filtre {
    position: absolute;
    top: 0; /* Décaler vers le bas de 4 pixels */
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 4.69%, rgba(26, 26, 26, 0.66) 41.15%, #1A1A1A 75%);
}
.bord {
    transform: translateY(-7rem);
    position: absolute;

    margin-left: 5rem;
    margin-right:5rem ;
}



.top {

    position: relative;
}


.NomCont{

color: #FFF;
font-family: TangoSans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 7.04px;

}

.svg-container {
    width: 50%; /* Définissez la largeur désirée */
    /* Ajoutez d'autres propriétés CSS si nécessaire */
    border-radius: 1rem;
}

.custom-svg {
    width: 100%; /* Ajustez la taille selon les besoins */
    height: auto; /* Assurez-vous que la hauteur est automatiquement ajustée en fonction de la largeur */
    /* Ajoutez d'autres propriétés CSS si nécessaire */
}

.my-button {
    background-color: #0074d9; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprime les bordures du bouton */
    padding: 10px 20px; /* Rembourrage interne du bouton */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur au survol */
    border-radius: 4px; /* Coins arrondis */
  }
  
  .my-button:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
  }
  
  .litT{
    
    margin-top: 1rem;
    color: #FFF;

    font-family: TangoSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.32px;
}



.POSTERT {
    padding-top: 2rem;
    border-radius: 10px 10px 10px 10px;
    width: 80%; /* Ajustez la taille selon les besoins */
    height: auto; /* Assurez-vous que la hauteur est automatiquement ajustée en fonction de la largeur */

}

.POSTERTC {
    padding-top: 2rem;
    border-radius: 10px 10px 10px 10px 10px;
    width: 80%; /* Ajustez la taille selon les besoins */
    height: auto; /* Assurez-vous que la hauteur est automatiquement ajustée en fonction de la largeur */
margin-left: 2rem;
margin-right: 2rem;
}


.Catergor{

    color: #FFF;
margin-top: 1rem;
    font-family: TangoSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.32px;

}

.Abody {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.carousel-control {
    outline: none;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    background-color: transparent; /* ou background-color: rgba(0, 0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;

}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}